<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SubmitDiagnosisPrescription</servlet-name>
        <servlet-class>controller.SubmitDiagnosisPrescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorRegistration</servlet-name>
        <servlet-class>controller.DoctorRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacistRegistration</servlet-name>
        <servlet-class>controller.PharmacistRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionistRegistration</servlet-name>
        <servlet-class>controller.ReceptionistRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRegistration</servlet-name>
        <servlet-class>controller.PatientRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLogin</servlet-name>
        <servlet-class>controller.PatientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedback</servlet-name>
        <servlet-class>controller.SubmitFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAppointment</servlet-name>
        <servlet-class>controller.SubmitAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDoctorTimeDate</servlet-name>
        <servlet-class>controller.SubmitDoctorTimeDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitPrescriptionbill</servlet-name>
        <servlet-class>controller.SubmitPrescriptionbill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitDiagnosisPrescription</servlet-name>
        <url-pattern>/SubmitDiagnosisPrescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorRegistration</servlet-name>
        <url-pattern>/DoctorRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacistRegistration</servlet-name>
        <url-pattern>/PharmacistRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistRegistration</servlet-name>
        <url-pattern>/ReceptionistRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegistration</servlet-name>
        <url-pattern>/PatientRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLogin</servlet-name>
        <url-pattern>/PatientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedback</servlet-name>
        <url-pattern>/SubmitFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAppointment</servlet-name>
        <url-pattern>/SubmitAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDoctorTimeDate</servlet-name>
        <url-pattern>/SubmitDoctorTimeDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPrescriptionbill</servlet-name>
        <url-pattern>/SubmitPrescriptionbill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
